* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}
h1 {
    font-size: 40px;
}
main {
  display: flex;
}
canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin: 50px;
}
